<h1 class="tournament-title">Pokemon Tournament</h1>

<div class="tournament-controls">
    <div>
        <h4>Order By</h4>
        <select name="orderByDropdown" (change)="onOrderByChanged($event)">
            @for(orderByOption of orderByOptions; track orderByOption) {
                <option [value]="orderByOption">{{orderByOption | titlecase}}</option>
            } 
        </select>
    </div>

    <div>
        <h4>Sort Direction</h4>
        <select name="sortDirectionDropdown" (change)="onSortDirectionChanged($event)">
            @for(directionOption of sortDirectionOptions; track directionOption) {
                <option [value]="directionOption">{{directionOption | titlecase}}</option>
            } 
        </select>
    </div>

    <button (click)="generateNewStatistics()">Generate</button>
    
</div>

<div class="tournament-controls error-buttons">
    <button (click)="testErrorOne()">Test Error 1</button>
    <button (click)="testErrorTwo()">Test Error 2</button>
    <button (click)="testErrorThree()">Test Error 3</button>
</div>
  
@if(generating) {
    <p>Generating...</p>
    
}
@else if(errorMessage != "") {
    <div class="error">
        <h3>Error!</h3>
        <p>{{errorMessage}}</p>
    </div>
}
@else
{
    <div class="tournament-results">
        @for(mon of pokemon; track mon.name) {
            <pokemon [name]="mon.name" [id]="mon.id" [wins]="mon.wins" [losses]="mon.losses" [ties]="mon.ties" [type]="mon.types[0].type.name" />
        } 
    </div>
}