:host {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}

.tournament-title {
    font-family: sans-serif;
    font-size:48px;
}

.tournament-controls {
    text-align:left;
    display:flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
}

.tournament-controls select {
    padding-right:60px;
}

.tournament-controls h4 {
    font-family: sans-serif;
    margin-bottom:5px;
}

.tournament-results {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.error {
    margin-left:auto;
    margin-right:auto;
    width:300px;
    padding:15px;
    margin-top:20px;
    background-color:rgba(255, 0.2, 0.2, 0.2);
    border-radius:5px;
}